.message_form {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.message_form input {
  border: 1px solid lightgray !important;
  width: 50vw;
  margin: 0px 10px 0;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form .btn {
  margin-top: -7px !important;
}

.mob {
  display: none !important;
}

@media (max-width: 767px) {
  .message_form input {
    width: 35vw;
  }
  .message_form {
    left: 3%;
    right: 0;
    bottom: 5px;
    justify-content: center !important;
  }
  .btn {
    display: none !important;
  }

  .mob {
    display: inline !important;
  }
}

@media (max-width: 567px) {
  .message_form input {
    width: 50vw;
    margin: 0px 10px;
  }

  .btn {
    display: none !important;
  }

  .mob {
    display: inline !important;
    margin: 0;
  }
}
